.css-1dbjc4n.r-1habvwh.r-13awgt0:not(.saferTwitter-unBlur) /*Received media container*/
.css-1dbjc4n.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af:not(.r-sdzlij):not(.r-1niwhzg) /*images container that are not profile pictures*/
{
    filter:blur(1rem);
    /*TODO : This value in rem should be consistent consistent screen sizes, but it still need tweaking*/
    /* for example, in the "mini" message view on the twitter feed, we almost can't see anything.*/
}

.saferTwitter-button
{
    white-space: pre-wrap;
    width: min-content;

    padding: 1px;
}
.saferTwitter-button:disabled
{
    color:white;
}
